{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- this head stuff is a standard that our group decided on.. mehwish made it and sent it to everyone so it would be uniform-->
<!-- begin head --------------------------------------------------------------------------------------------------------------->
<head>
    <!-- meta tags for the browser and earch engines -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="BAYOUstore is an online marketplace where users can browse products, sell products, view product details,and manage purchasing with cart and checkout.">
    <meta name="keywords" content="marketplace, shopping, products, ecommerce, BAYOUstore">
    <title>BAYOUstore</title>

    <!-- Alec's links to get us the font we decided on as a group--------------------------------------------------------------->
    <!-- links to the font that we decided to use "ADLAM display"--------------------------------------------------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">

    <!-- External CSS link -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'Alecs_Beautiful_script.css' %}">

</head>
<!-- end head ------------------------------------------------------------------------------------------------------------------->
<!-- end head ------------------------------------------------------------------------------------------------------------------->

<body>
    <main>
        <!-- BEGIN BODY------------------------------------------------------------------------------------------------------------------>
<!-- BEGIN BODY------------------------------------------------------------------------------------------------------------------>
<body>
    
    <!-- again the header and footer was decided as a group, mehwish made it and sent it to everyone so it would be uniform------>
    <!-- header area------------------------------------------------------------------------------------------------------------->
    <header class="header">
        <!-- navigation bar -->
        <nav class="navbar">
            <!-- Website logo: links back to the homepage -->
            <a href="{% url 'home' %}" class="logo-link">
                <img class="logo" src="{% static 'images/logo_image.png' %}" alt="BAYOUstore logo">
            </a>

            <!-- links to different website pages -->
            <ul class="nav-links">
<li><button onclick="location.href='#'">Sell</button></li>

                <!-- Alec's drop down list for the account button that mehwish made --------------------------------------------->
                <li>
                    <button>Account</button>
                    <ul>
                        <li><button onclick="location.href='{% url 'login' %}'">Login</button></li>
                        <li><button onclick="location.href='{% url 'createAccount' %}'">Create Account</button></li>
                        <li><button onclick="location.href='{% url 'account' %}'">Account</button></li>
                        <li><button onclick="location.href='{% url 'logout' %}'">Sign Out</button></li>
                    </ul>
                </li>

                <!-- cart button with an icon image -->
<li><button class="cart-button" onclick="location.href='{% url 'ShoppingCart' %}'">
            <img src="{% static 'images/cart.png' %}" alt="Cart">
                    </button></li>
            </ul>
        </nav>
    </header>

    <!-- end header ------------------------------------------------------------------------------------------------------------------->
    <!-- end header ------------------------------------------------------------------------------------------------------------------->

<center>
    <br><br><br>
    <h1>---- You Are Logged Out! D:  ----</h1>
    <br><br><br>
    <h3>---- Come Back Any Time! ----</h3>

    </main>
</body>



    <!-- mehwishes footer/other stuff--------------------------------------------------------------------------------------------------------------------------------------------->
    <footer class="footer">
        <ul class="footer_links">
            <li><button onclick="openDialog('aboutBox')">ABOUT US</button></li>
            <li><button onclick="openDialog('contactBox')">CONTACT</button></li>
            <li><button onclick="openDialog('termsBox')">TERMS OF SERVICE</button></li>
        </ul>
    </footer>

    <!-- About dialog box -->
    <dialog id="aboutBox">
        <h2>About Us</h2>
        <p><br>BAYOUstore is an online marketplace designed to connect buyers and sellers in a simple and convenient
            way. Our platform allows users to explore a variety of products, view detailed information, and enjoy a
            smooth shopping experience with secure and user-friendly features.</p>
        <br>
        <button onclick="closeDialog('aboutBox')">Close</button>
    </dialog>

    <!-- Conatact Information Diaolg box -->
    <dialog id="contactBox">
        <h2>Contact</h2>
        <p><br><strong>Email:</strong>support@bayoustore.com
            <strong>Helpline:</strong> +1 666-375981
        </p>
        <br>
        <button onclick="closeDialog('contactBox')">Close</button>
    </dialog>

    <!-- terms of Service Dialog box -->
    <dialog id="termsBox">
        <h2>Terms of Service</h2>
        <p><br>By using BAYOUstore, you agree to follow our terms and conditions. Users are responsible for providing
            accurate information and using the platform respectfully. We aim to ensure a safe and reliable marketplace
            experience, but we are not liable for any misuse or external transactions.</p><br>
        <button onclick="closeDialog('termsBox')">Close</button>
    </dialog>

    <!-- External Javascript link -->
    <script src="script.js"></script>
    <script src="Alecs_Beautiful_script.js"></script>

</body>
<!--END PAGE BODY SECTION -------------------------------------------------------------------------------------------------------------------------------------------->
<!--END PAGE BODY SECTION -------------------------------------------------------------------------------------------------------------------------------------------->

</html>