<!DOCTYPE html>
<html lang="en">


<!-- this head stuff is a standard that our group decided on.. mehwish made it and sent it to everyone so it would be uniform-->
<!-- begin head --------------------------------------------------------------------------------------------------------------->
<head>
    <!-- meta tags for the browser and earch engines -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="BAYOUstore is an online marketplace where users can browse products, sell products, view product details,and manage purchasing with cart and checkout.">
    <meta name="keywords" content="marketplace, shopping, products, ecommerce, BAYOUstore">
    <title>BAYOUstore</title>

    <!-- Alec's links to get us the font we decided on as a group--------------------------------------------------------------->
    <!-- links to the font that we decided to use "ADLAM display"--------------------------------------------------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">

    <!-- External CSS link -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="Alecs_Beautiful_script.css">
</head>
<!-- end head ------------------------------------------------------------------------------------------------------------------->
<!-- end head ------------------------------------------------------------------------------------------------------------------->


<!-- BEGIN BODY------------------------------------------------------------------------------------------------------------------>
<!-- BEGIN BODY------------------------------------------------------------------------------------------------------------------>
<body>
    
    <!-- again the header and footer was decided as a group, mehwish made it and sent it to everyone so it would be uniform------>
    <!-- header area------------------------------------------------------------------------------------------------------------->
    <header class="header">
        <!-- navigation bar -->
        <nav class="navbar">
            <!-- Website logo: links back to the homepage -->
            <a href="index.html" class="logo-link">
                <img class="logo" src="images/logo_image.png" alt="BAYOUstore logo">
            </a>

            <!-- links to different website pages -->
            <ul class="nav-links">
                <li><button onclick="location.href='seller.html'">Sell</button></li>

                <!-- Alec's drop down list for the account button that mehwish made --------------------------------------------->
                <li>
                    <button>Account</button>
                    <ul>
                        <li><button>Login/Signup</button></li>
                        <li><button>Account</button></li>
                        <li><button>Sign Out</button></li>
                    </ul>
                </li>

                <!-- cart button with an icon image -->
                <li><button class="cart-button" onclick="location.href='Shopping Cart.html'">
                        <img src="images/cart.png" alt="Cart">
                    </button></li>
            </ul>
        </nav>
    </header>

    <!-- end header ------------------------------------------------------------------------------------------------------------------->
    <!-- end header ------------------------------------------------------------------------------------------------------------------->


    <!-- Mehwish's search box ------------------------------------------------------------------------------------------------------------------->
    <!-- Search/fitler Section ------------------------------------------------------------------------------------------------------------------->
    <section class="search_container">
        <search class="search-box">
            <!-- Placeholder for the future filtering logic -->
            <button type="button" class="filter-button">Filter</button>
            <input class="search-input" type="search" placeholder="Search for products...">
            <!-- submit button to trigger search -->
            <button type="button" class="search-button">Go</button>
        </search>
    </section>

    <!--Begin Body---------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!--Begin Body---------------------------------------------------------------------------------------------------------------------------------------------------------->


    <!--This main part of the page is Alec's Work for his webpage... It consists of a master container and 3 containers inside in a grid to depict sections-->
    <!--BEGIN MASTER CONTAINER --------------------------------------------------------------------------------------------------------------------------------->
    <main class="productDetails_masterContainer"> <!-- master container which encapsulates all 3 body sections-->


        <!-- this is the image container on the left part of the page which shows the picture of the product------------------------------------------------->
        <!-- BEGIN IMAGE CONTAINER ------------------------------------------------------------------------------------------------------------------------------>
        <figure class="productDetails_imagesContainer"><!-- use figure tag for image acessibility -->
            <!-- This places in the image in the container... and puts a onclick function which calls a javascript method i wrote "enlargeImage" to make it accessible------------------->
            <img src="images/product.png" alt="Item Name" class="zoom-effect" onclick="enlargeImage(this.src)"> 
        </figure>

        <!-- call the closeImage javascript method to get rid of the big popup image when user clicks ------------------------------------------------------------------------------------------->
        <div id="imageOverlay" class="overlay" onclick="closeImage()"><!-- call the image container which is no longer hidden, close it on click -->
            <img id="overlayImg" src="" alt="Enlarged view"><!-- source the actual image-->
        </div>
        <!-- END IMAGE CONTAINER ------------------------------------------------------------------------------------------------------------------------------>


        <!-- this is the product details container in the middle of the page  -------------------------------------------------------------------------------------------->
        <!-- BEGIN PRODUCT DETAILS CONTAINER ------------------------------------------------------------------------------------------------------------------------------>
        <section class="productDetails_productDetailsContainer"><!-- section container because product information-->
            <h1 class="productTitle">X9000 Ray-Gun Blaster</h1>
    
            <div class="priceBox">
                <h2 class="price">$12.87</h2>
                <div class="sellerInformation">
                    <span>seller name: [Sheriff Unkel]</span>
                    <span class="ratingSystem">★★★★☆</span> <!-- in the future this will be taken from database... for now just a graphic -->
                </div>
            </div>

            <div class="descriptionBox">
                <h3>Item Details:</h3>
                <br>
                <ul>
                    <li>- highly energized anti-matter crystals to power the device</li>
                    <li>- awesomely cool graphics and colors</li>
                    <li>- portable size and weighted for extra gravitas</li>
                    <li>- excellent for blasting space pirates, aliens, ghosts, bad guys, and any other fools necessary</li>
                    <li>- previously owned by coveted space sheriff Alexander Danger Unkel</li>
                </ul>
            </div>

            <button class="messageButton">Message Seller</button>
        </section>
        <!-- END PRODUCT DETAILS CONTAINER ------------------------------------------------------------------------------------------------------------------------------>


        <!-- this is the product actions container on the far right with the buttons--------------------------------------------------------------------------------------->
        <!-- BEGIN PRODUCT ACTIONS CONTAINER ------------------------------------------------------------------------------------------------------------------------------>
        <div class="productDetails_actionsContainer">
            <div class="shippingBox">
                <p>shipping from:</p>
                <p>address here</p>
            </div>
    
            <div class="quantityAvailableBox">
                <p>quantity: available</p>
            </div>

            <div class="quantitySelectorBox">
                <label for="qty">choose quantity:</label>
                <select id="qty" class="quantityDropdown">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>

            <div class="actionsBox">
                <button class="actionButton">Add To Cart!</button>
                <button class="actionButton">Buy Now!</button>
            </div>
        </div>
        <!-- END PRODUCT ACTIONS CONTAINER ------------------------------------------------------------------------------------------------------------------------------>
        
    </main>
    <!--END MASTER CONTAINER -------------------------------------------------------------------------------------------------------------------------------------------->
    <!--END MASTER CONTAINER -------------------------------------------------------------------------------------------------------------------------------------------->


    <!-- mehwishes footer/other stuff--------------------------------------------------------------------------------------------------------------------------------------------->
    <footer class="footer">
        <ul class="footer_links">
            <li><button onclick="openDialog('aboutBox')">ABOUT US</button></li>
            <li><button onclick="openDialog('contactBox')">CONTACT</button></li>
            <li><button onclick="openDialog('termsBox')">TERMS OF SERVICE</button></li>
        </ul>
    </footer>

    <!-- About dialog box -->
    <dialog id="aboutBox">
        <h2>About Us</h2>
        <p><br>BAYOUstore is an online marketplace designed to connect buyers and sellers in a simple and convenient
            way. Our platform allows users to explore a variety of products, view detailed information, and enjoy a
            smooth shopping experience with secure and user-friendly features.</p>
        <br>
        <button onclick="closeDialog('aboutBox')">Close</button>
    </dialog>

    <!-- Conatact Information Diaolg box -->
    <dialog id="contactBox">
        <h2>Contact</h2>
        <p><br><strong>Email:</strong>support@bayoustore.com
            <strong>Helpline:</strong> +1 666-375981
        </p>
        <br>
        <button onclick="closeDialog('contactBox')">Close</button>
    </dialog>

    <!-- terms of Service Dialog box -->
    <dialog id="termsBox">
        <h2>Terms of Service</h2>
        <p><br>By using BAYOUstore, you agree to follow our terms and conditions. Users are responsible for providing
            accurate information and using the platform respectfully. We aim to ensure a safe and reliable marketplace
            experience, but we are not liable for any misuse or external transactions.</p><br>
        <button onclick="closeDialog('termsBox')">Close</button>
    </dialog>

    <!-- External Javascript link -->
    <script src="script.js"></script>
    <script src="Alecs_Beautiful_script.js"></script>

</body>
<!--END PAGE BODY SECTION -------------------------------------------------------------------------------------------------------------------------------------------->
<!--END PAGE BODY SECTION -------------------------------------------------------------------------------------------------------------------------------------------->

</html>