{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- this head stuff is a standard that our group decided on.. mehwish made it and sent it to everyone so it would be uniform-->
<!-- begin head --------------------------------------------------------------------------------------------------------------->
<head>
    <!-- meta tags for the browser and earch engines -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="BAYOUstore is an online marketplace where users can browse products, sell products, view product details,and manage purchasing with cart and checkout.">
    <meta name="keywords" content="marketplace, shopping, products, ecommerce, BAYOUstore">
    <title>BAYOUstore</title>

    <!-- Alec's links to get us the font we decided on as a group--------------------------------------------------------------->
    <!-- links to the font that we decided to use "ADLAM display"--------------------------------------------------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">

    <!-- External CSS link -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'style-products.css' %}">
    <link rel="stylesheet" href="{% static 'Alecs_Beautiful_script.css' %}">

</head>
<!-- end head ------------------------------------------------------------------------------------------------------------------->
<!-- end head ------------------------------------------------------------------------------------------------------------------->


<!-- BEGIN BODY------------------------------------------------------------------------------------------------------------------>
<!-- BEGIN BODY------------------------------------------------------------------------------------------------------------------>
<body>
    
    <!-- again the header and footer was decided as a group, mehwish made it and sent it to everyone so it would be uniform------>
    <!-- header area------------------------------------------------------------------------------------------------------------->
<header class="header">
    <!-- navigation bar -->
    <nav class="navbar">
        <!-- Website logo: links back to the homepage -->
        <a href="{% url 'home' %}" class="logo-link">
            <img class="logo" src="{% static 'images/logo_image.png' %}" alt="BAYOUstore logo">
        </a>

        <!-- links to different website pages -->
        <ul class="nav-links">
            
            <!-- ALEC"S django if statements to show these on header only if logged in and/or seller -->
            {% if user.is_authenticated %}
                <li style="color: white; margin-right: 15px; align-self: center;">
                    welcome back! :D {{ user.username }}
                </li>
                
                <!-- the sell button only pops up if user is a seller for authentication -->
                {% if user.userprofile.isSeller %}
                    <li><button onclick="location.href='{% url 'seller' %}'">Sell</button></li>
                {% endif %}
            {% endif %}


            <!-- Alec's django if statements for the drop down list on the account button mehwish made.. authentication  --------------------------------------------->
            <!-- use logic to show login and create account only if user is NOT logged in... and account and sign out only if user IS logged in --------------------------------------------->
            <li>
                <button>Account</button>
                <ul>

                    <!-- user is NOT logged in so show login and create account... don't show account and logout...-->
                    {% if not user.is_authenticated %}
                        <li><button onclick="location.href='{% url 'login' %}'">Login</button></li>
                        <li><button onclick="location.href='{% url 'createAccount' %}'">Create Account</button></li>

                    <!-- if user is logged in THEN show account and logout buttons...  -->
                    {% else %}
                        <li><button onclick="location.href='{% url 'account' %}'">Account Settings</button></li>
                        <li><button onclick="location.href='{% url 'logout' %}'">Sign Out</button></li>
                    {% endif %}
                </ul>
            </li>


            <!-- cart button with an icon image -->
            <li>
                <button class="cart-button" onclick="location.href='{% url 'ShoppingCart' %}'">
                    <img src="{% static 'images/cart.png' %}" alt="Cart">
                </button>
            </li>
        </ul>
    </nav>
</header>
    <!-- end header ------------------------------------------------------------------------------------------------------------------->
    <!-- end header ------------------------------------------------------------------------------------------------------------------->


    <!-- Mehwish's search box ------------------------------------------------------------------------------------------------------------------->
    <!-- Search/fitler Section ------------------------------------------------------------------------------------------------------------------->
    <!-- Search/fitler Section by Caden Fontenot-->
    <section class="search_container">
        <form class="search-box" method="GET" action="{% url 'Products' %}">
			
            <!-- filtering logic -->
            <button type="button" class="filter-button" onclick = "toggleFilters()">Filter</button>
            <input class="search-input" type="search" placeholder="Search for products..." name="q" value="{{ query }}">
            <!-- submit button to trigger search -->
			
			<ul id = 'filterList' class = 'hidden'>
			{% for category in categories %}
				<li><label>
					<input type = 'checkbox' name='category' value = '{{ category.categoryName }}' {% if category.categoryName in selected_categories %}checked{% endif %}>{{ category.categoryName }}
				</label></li>
			{% endfor %}
			</ul>
            <button type="Submit" class="search-button">Go</button>
        </form>
    </section>

    <!--Begin main section---------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!--Begin main section---------------------------------------------------------------------------------------------------------------------------------------------------------->


    <!--This main part of the page is Alec's Work for his webpage... It consists of a master container and 3 containers inside in a grid to depict sections-->
    <!--BEGIN MASTER CONTAINER --------------------------------------------------------------------------------------------------------------------------------->
    <main class="productDetails_masterContainer"> <!-- master container which encapsulates all 3 body sections-->


        <!-- this is the image container on the left part of the page which shows the picture of the product------------------------------------------------->
        <!-- BEGIN IMAGE CONTAINER ------------------------------------------------------------------------------------------------------------------------------>
        <figure class="productDetails_imagesContainer">

            <!-- have a fallback image if we fail to get the image from the databaser -->
            {% if product.productimg %}
                    <!-- get image url from backend table -->
                    <img src="{{ product.productimg.url }}" alt="{{ product.name }}" class="zoom-effect" onclick="enlargeImage(this.src)">

                <!-- group logo if we can't get it -->    
                {% else %}
                    <img src="{% static 'images/logo_image.png' %}" alt="No Image Available" class="zoom-effect">
                {% endif %}

        </figure>
        
        <!-- call the closeImage javascript method to get rid of the big popup image when user clicks ------------------------------------------------------------------------------------------->
        <div id="imageOverlay" class="overlay" onclick="closeImage()"><!-- call the image container which is no longer hidden, close it on click -->
            <img id="overlayImg" src="" alt="Enlarged view"><!-- source the actual image-->
        </div>
        <!-- END IMAGE CONTAINER ------------------------------------------------------------------------------------------------------------------------------>


        <!-- this is the product details container in the middle of the page  -------------------------------------------------------------------------------------------->
        <!-- BEGIN PRODUCT DETAILS CONTAINER ------------------------------------------------------------------------------------------------------------------------------>
        <section class="productDetails_productDetailsContainer">
            <h1 class="productTitle">{{ product.name }}</h1>

            <div class="priceBox">
                <h2 class="price">${{ product.price }}</h2>
                <div class="sellerInformation">
                    <span>seller name: [{{ product.seller.user.username }}]</span>
                    <span class="ratingSystem">

                        [⭐ {{ product.seller.seller_rating }}/5.0]

                    </span>
                </div>
            </div>

            <div class="descriptionBox">
                <h3>Item Details:</h3>
                <br>
                <p>{{ product.description }}</p>
            </div>

            <button class="messageButton">Message Seller</button>
        </section>
        <!-- END PRODUCT DETAILS CONTAINER ------------------------------------------------------------------------------------------------------------------------------>


        <!-- this is the product actions container on the far right with the buttons--------------------------------------------------------------------------------------->
        <!-- BEGIN PRODUCT ACTIONS CONTAINER ------------------------------------------------------------------------------------------------------------------------------>
        <div class="productDetails_actionsContainer">
        
        {% if user.is_authenticated %}
        <!-- only logged in users see the purchase form -->
        <form action="{% url 'add_to_cart' product.id %}" method="POST">
            {% csrf_token %}

            <!-- choose quantity drop down -->
            <div class="quantitySelectorBox">
                <label for="qty">choose quantity:</label>
                <select id="qty" name="quantity_selection" class="quantityDropdown">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <br><br>

            <!-- user actions box with buttons add to cart or checkout -->
            <div class="actionsBox">
                <button type="submit" name="action" value="add_to_cart" class="actionButton">
                    Add To Cart!
                </button>
                <button type="submit" name="action" value="buy_now" class="actionButton">
                    Buy Now!
                </button>
            </div>
        </form>

        <!-- guests will see a button that takes them to the login page.. because i didn't want to  -->
        {% else %}
            <div class="actionsBox">
                <p style="margin-bottom: 10px; color: #555;">Want to purchase this?</p>
                <button class="actionButton" onclick="location.href='{% url 'login' %}'">
                    Login to Buy
                </button>
            </div>
        {% endif %}

        </div>
        <!-- END PRODUCT ACTIONS CONTAINER ------------------------------------------------------------------------------------------------------------------------------>
        
    </main>
    <!--END MASTER CONTAINER -------------------------------------------------------------------------------------------------------------------------------------------->
    <!--END MASTER CONTAINER -------------------------------------------------------------------------------------------------------------------------------------------->


    <!-- mehwishes footer/other stuff--------------------------------------------------------------------------------------------------------------------------------------------->
    <footer class="footer">
        <ul class="footer_links">
            <li><button onclick="openDialog('aboutBox')">ABOUT US</button></li>
            <li><button onclick="openDialog('contactBox')">CONTACT</button></li>
            <li><button onclick="openDialog('termsBox')">TERMS OF SERVICE</button></li>
        </ul>
    </footer>

    <!-- About dialog box -->
    <dialog id="aboutBox">
        <h2>About Us</h2>
        <p><br>BAYOUstore is an online marketplace designed to connect buyers and sellers in a simple and convenient
            way. Our platform allows users to explore a variety of products, view detailed information, and enjoy a
            smooth shopping experience with secure and user-friendly features.</p>
        <br>
        <button onclick="closeDialog('aboutBox')">Close</button>
    </dialog>

    <!-- Conatact Information Diaolg box -->
    <dialog id="contactBox">
        <h2>Contact</h2>
        <p><br><strong>Email:</strong>support@bayoustore.com
            <strong>Helpline:</strong> +1 666-375981
        </p>
        <br>
        <button onclick="closeDialog('contactBox')">Close</button>
    </dialog>

    <!-- terms of Service Dialog box -->
    <dialog id="termsBox">
        <h2>Terms of Service</h2>
        <p><br>By using BAYOUstore, you agree to follow our terms and conditions. Users are responsible for providing
            accurate information and using the platform respectfully. We aim to ensure a safe and reliable marketplace
            experience, but we are not liable for any misuse or external transactions.</p><br>
        <button onclick="closeDialog('termsBox')">Close</button>
    </dialog>

    <!-- External Javascript link -->
    <script src="script.js"></script>
    <script src="Alecs_Beautiful_script.js"></script>
    <script src="{% static 'script-products.js' %}"></script>
</body>
<!--END PAGE BODY SECTION -------------------------------------------------------------------------------------------------------------------------------------------->
<!--END PAGE BODY SECTION -------------------------------------------------------------------------------------------------------------------------------------------->

</html>