{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags for the browser and earch engines -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="BAYOUstore is an online marketplace where users can browse products, sell products, view product details,and manage purchasing with cart and checkout.">
    <meta name="keywords" content="marketplace, shopping, products, ecommerce, BAYOUstore">
    <title>BAYOUstore | Sell</title>
    <!-- External CSS link -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'style-products.css' %}">
	<link rel="stylesheet" href="{% static 'Alecs_Beautiful_script.css' %}">
    <link rel="stylesheet" href="{% static 'Homepage_Seller.css' %}">
</head>

<body>
    <!-- header area -->
    <header class="header">
        <!-- navigation bar -->
        <nav class="navbar">
            <!-- Website logo: links back to the homepage -->
            <a href="{% url 'home' %}" class="logo-link">
                <img class="logo" src="{% static 'images/logo_image.png' %}" alt="BAYOUstore logo">
            </a>

            <!-- links to different website pages -->
            <ul class="nav-links">
                <!-- can go to seller page by clicking, just for frontend -->
                <li><button onclick="location.href='{% url 'seller' %}'">Sell</button></li>
                <!--Alec's drop down list for the account button that mehwish made  -->
                <li>
                    <button>Account</button>
                    <ul>
                        <li><button>Login/Signup</button></li>
                        <li><button>Account</button></li>
                        <li><button>Sign Out</button></li>
                    </ul>
                </li>
                <!-- cart button with an icon image -->
                <li><button class="cart-button" onclick="location.href='{% url 'ShoppingCart' %}'">
                        <img src="{% static 'images/cart.png' %}" alt="Cart">
                    </button></li>
            </ul>
        </nav>
    </header>

   <!-- Search/fitler Section by Caden Fontenot-->
    <section class="search_container">
        <form class="search-box">
			
            <!-- Placeholder for the future filtering logic -->
            <button type="button" class="filter-button" onclick = "toggleFilters()">Filter</button>
            <input class="search-input" type="search" placeholder="Search for products..." name = 'filter'>
            <!-- submit button to trigger search -->
			
			<!--Most of this will likely stay incomplete until backend stuff is made
			because we need items to actually filter-->
			
			<ul id = 'filterList' class = 'hidden'>
			
				<li><label>
					<input type = 'checkbox' value = 'men'>men
				</label></li>
				
				<li><label>
					<input type = 'checkbox' value = 'women'>women
				</label></li>
				
				<li><label>
					<input type = 'checkbox' value = 'kids'>kids
				</label></li>
				
				<li><label>
					<input type = 'checkbox' value = 'clothes'>clothes
				</label></li>
				
				<li><label>
					<input type = 'checkbox' value = 'sports'>sports
				</label></li>
				
				<li><label>
					<input type = 'checkbox' value = 'toys'>toys
				</label></li>
				
			</ul>
            <button type="Submit" class="search-button">Go</button>
        </form>
    </section>

    <!-- include the main content of the page -->
    <main>

        <!--Become seller section-->  
        <!-- If user is NOT a seller -->
        {% if not profile.isSeller %}
        <section class="become-seller-card">
            <h2>You are not a seller yet</h2>
            <p>Start selling your products on BAYOUstore</p>
            <!-- become a seller button -->
            <form method="POST">
                {% csrf_token %}
                
                <button type="submit" name="become_seller" class="add-btn">
                    Become a Seller
                </button>
            </form>
        </section>

        {% else %}

        <!-- Seller Info (visible only if user is a seller) -->

        <section class="seller-profile">
            <!-- Shop Logo -->
            <figure class="seller-logo">
                <img src="{% static 'images/Seller_logo.png' %}" alt="Shop logo">
            </figure>

            <!-- Shop Name -->
            <div class="seller_name">
                <h2>{{ profile.user.username }}</h2>
        </div>

            <!-- Seller Stats -->
            <div class="seller-stats">
                <p>Total Products: {{ products|length }}</p>
                <p>Items Sold: 0</p> <!-- can connect later -->
            </div>
        </section>


        <!-- Add product section (only for sellers) -->
        <section class="add-product">

            <!-- Toggle form button -->
            <button type="button" class="add-btn" onclick="toggleForm()">+ Add Product</button>

            <!-- Product Form -->
            <form method="POST" id="productForm" class="product-form" enctype="multipart/form-data">

                <!-- hidden field for edit -->
                <input type="hidden" name="product_id" id="product_id">

                {% csrf_token %}

                <div class="form-row">
                    <label>Product Name</label>
                    <input type="text" name="name" required>
                </div>

                <div class="form-row">
                    <label>Description</label>
                    <textarea name="description" required></textarea>
                </div>

                <div class="form-row">
                    <label>Price</label>
                    <input type="number" name="price" step="0.01" min="0.01" placeholder='0.00' required pattern="^\d+(\.\d{1.2})?$">
                </div>

                <div class="form-row">
                    <label>Upload Image</label>
                    <input type="file" name="image" required>
                </div>

                <button type="submit" class="submit-btn">Submit</button>
            </form>
        </section>


        <!-- Seller Products Section -->
        <section class="seller-products">
            <h2>Your Products</h2>

            {% for product in products %}

            <article class="product-card">

                <!-- Product Image -->
                {% if product.productimg %}
                    <img src="{{ product.productimg.url }}" class="product-img">
                {% else %}
                    <img src="{% static 'images/image_placeholder.png' %}" class="product-img">
                {% endif %}

                <div class="product-content">

                    <!-- Product Info -->
                    <div class="product-info">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description }}</p>
                        <div class="product-price">${{ product.price }}</div>
                    </div>

                    <div class="product-action">
                        <!-- EDIT BUTTON -->
                        <button type="button"
                            class="action-btn edit-btn"
                            onclick="editProduct(
                                '{{ product.id }}',
                                '{{ product.name|escapejs }}',
                                '{{ product.description|escapejs }}',
                                '{{ product.price }}'
                            )">
                            Edit
                        </button>
                        </form>

                        <!-- DELETE BUTTON -->
                        <form action="{% url 'delete_product' product.id %}" method="POST"
                            onsubmit="return confirm('Are you sure you want to delete this product?');">
                            {% csrf_token %}
                            <button type="submit" class="action-btn delete-btn">
                                Delete
                            </button>
                        </form>
                    </div>  
                </div>
            </article>

            {% empty %}
                <p>No products yet. Start adding!</p>
            {% endfor %}

        </section>

        {% endif %}

    </main>

    <!-- Footer: with site details -->
    <footer class="footer">
        <ul class="footer_links">
            <li><button onclick="openDialog('aboutBox')">ABOUT US</button></li>
            <li><button onclick="openDialog('contactBox')">CONTACT</button></li>
            <li><button onclick="openDialog('termsBox')">TERMS OF SERVICE</button></li>
        </ul>
    </footer>

    <!-- Dialog boxes for links in footer -->
    <!-- About dialog box -->
    <dialog id="aboutBox">
        <h2>About Us</h2>
        <p><br>BAYOUstore is an online marketplace designed to connect buyers and sellers in a simple and convenient
            way. Our platform allows users to explore a variety of products, view detailed information, and enjoy a
            smooth shopping experience with secure and user-friendly features.</p>
        <br>
        <button onclick="closeDialog('aboutBox')">Close</button>
    </dialog>

    <!-- Conatact Information Diaolg box -->
    <dialog id="contactBox">
        <h2>Contact</h2>
        <p><br><strong>Email:</strong>support@bayoustore.com
            <strong>Helpline:</strong> +1 666-375981
        </p>
        <br>
        <button onclick="closeDialog('contactBox')">Close</button>
    </dialog>

    <!-- terms of Service Dialog box -->
    <dialog id="termsBox">
        <h2>Terms of Service</h2>
        <p><br>By using BAYOUstore, you agree to follow our terms and conditions. Users are responsible for providing
            accurate information and using the platform respectfully. We aim to ensure a safe and reliable marketplace
            experience, but we are not liable for any misuse or external transactions.</p><br>
        <button onclick="closeDialog('termsBox')">Close</button>
    </dialog>

    <!-- External Javascript link -->
    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'script-products.js' %}"></script>
    <script src="{% static 'Seller_AddProd.js' %}"></script>
</body>

</html>