/*Styling relating to the filter button (Caden Fontenot) */

.hidden{
	display: none;
}

#filterList {
	top: 100%;
	left: 0%;

	flex-direction: column;
	margin: 20px auto;
	position: absolute;
	background: white;
	border: 1px solid black;
	padding: 5px;
	list-style: none;
	margin: 0;
	
}

#filterList label {
	display: block;
	padding: 4px;
	cursor: pointer;
	
}

#filterList li {
	border-top: 1px solid black;
}

#filterList label:hover {
	background-color: #e6f0ff; /*The lighter tone of blue as a highlight could help with the visuals */
}

input[type="checkbox"] {
	
	width: 12px;
	Height: 8px;
	accent-color: #f96b13;
}

/* code to format the product display (Caden Fontenot) */

.product_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-height: 600px; 
    overflow-y: scroll;
}

.product {
	position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    background: #f9f9f9;
	
	transition: background-color 0.4s ease;
}

.product:hover{
	background-color: #e6f0ff
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 1px solid #aaa;
}

.prod_name {
    font-size: 30px;
	text-align: center;
}

.price {
	color: black;
}

.rating{
	/*Stars may need to be reworked in the future to allow for black border but yellow inside*/
	color: gold;
	position: absolute;
    bottom: 10px;
    right: 10px;
}

.product a:visited {
    color: black;
    text-decoration: none;
}